/* ПОДКЛЮЧЕНИЕ ШРИФТОВ */

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff"); 
    font-weight: 800;     
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;     
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff2") format("woff2"),
         url("../fonts/opensans.woff") format("woff");
    font-weight: 400;     
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensanslight.woff2") format("woff2"),
         url("../fonts/opensanslight.woff") format("woff");
    font-weight: 300;     
}

/* КАСТОМНЫЕ ЦВЕТА */
:root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-white: #FFFFFF;
    --basic-grey: #464646;
    --basic-half-grey: #7E7E7E;
    --basic-grey-light: #E5E5E5;
    --special-yellow: #F7E296;
    --special-green: #91C92F;
    --special-yellow-dark: #F0C52E;
}

/* ОБЩИЕ СВОЙСТВА*/
body {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', Arial, sans-serif;
}
a {
	text-decoration: none;
	display: block;
}
aside {
	padding: 0px;
	margin: 0px;
}
div, p, a, section, form, input, button, textarea {
	box-sizing: border-box;
}
ul, li {
	padding: 0px;
	margin: 0px;
	display: block;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin: 0;
	padding: 0;
	box-sizing: border-box;		
}
p, img {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 
.container {
    width: 1160px;
    margin: 0 auto;
}


/* ***************************** ГЛАВНАЯ СТРАНИЦА И ШАПКА ***************************************/

header {
    background-color: var(--special-yellow);
}

.service-container {
    width: 1160px;
    margin: 0 auto;
    padding-top: 44px;
    padding-right: 60px;
    padding-left: 60px;

}

.service {
    display: flex;
    align-items: center;
}

.service__navigation {
    width: 144px;    
}

.enter, .exit, .compare, .basket {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;   
}

.enter {
    margin-left: 396px;
}

.compare {
    margin-left: 213px;
}

.basket {
    margin-left: 44px;
}

.goods__groups {
    display: none;
}

.site-navigation-list {
    display: flex;
    margin-top: 50px;
}

.navigation-list__catalogue,
.navigation-list__delivery a,
.navigation-list__warranty a,
.navigation-list__contacts a {
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-black)
}

.navigation-list__catalogue {
    letter-spacing: 0.1em;
}

.navigation-list__delivery {
    margin-left: 349px;
}

.navigation-list__warranty {
    margin-left: 38px;
}

.navigation-list__contacts {
    margin-left: 111px;
}

.slider, .goods, .services, .brands {
    display: none;
}

.about-grid {
    display: grid;
    grid-template-columns: 473px 560px;
    column-gap: 127px;
    grid-template-rows: auto auto;
}    

.about__line {
    width: 80px;
    height: 7px;
    color: var(--basic-black)
}

.about__more {
    margin-top: 84px;
    margin-bottom: 86px;
}

.about__us h2,
.about__contacts h2 {
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
    color: var(--basic-black)
}

.about__line_part1,
.about__line_part2 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    color: var(--basic-black)
}

.about__transport li {
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
}

.about__more {
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-black)
}

.about__contacts p {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    color: var(--basic-black);
}

.page-footer {
    background-color: var(--basic-dark);
    width: 1440px;
    padding: 46px 140px 65px 140px;
    margin: 0 auto;
}

.footer-grid {
    display: grid;
    grid-template-columns: 368px 469px 325px;
}

.logo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.address {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: var(--basic-white);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.footer__line {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.middle__menu {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    align-items: center;
}

.middle__socials {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    align-items: center;
}

.right__menu {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
}

.phone {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.academy {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.menu__delivery,
.menu__warranty,
.menu__contacts {
    list-style: none;
}    

.menu__delivery a,
.menu__warranty a,
.menu__contacts a {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-white);
}

.menu__warranty, .menu__contacts {
    margin-left: 36px;
}

.menu__item {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.phone a {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: var(--basic-white);
}

.footer__line {
    width: 80px;
    height: 7px;
    background: #FFC600;
}

.right__menu {
    display: flex;
}

.menu__compare {
    margin-left: 38px;
}

.menu__basket {
    margin-left: 40px;
}

form {
    display: none;
}

/******************************************** СТРАНИЦА КАТАЛОГА *********************************/
.sticks h2 {
    font-family: "Gilroy Extra Bold", Arial, Helvetica, sans-serif;
    font-weight: 800;   
    font-size: 47px;
    color: var(--basic-black);
}

.breadcrumbs__item a {
    font-family: "Open Sans", Arial, Helvetica, sans-serif; 
    font-weight: 300;
    font-size: 14px;
    opacity: 0.3;
    color: var(--basic-black);
}

.filtering {
    background-color: var(--basic-grey-light);
}

legend {
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: var(--basic-black);
}

label {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--basic-black);
}